# Build results
bin/
obj/
Output/

# User-specific files
*.user
*.suo
*.userosscache

# Visual Studio
.vs/

# Rider
.idea/

# macOS
.DS_Store

# Android specific
*.apk
*.aab
local.properties

# NuGet
packages/
*.nupkg

# Build artifacts
[Dd]ebug/
[Rr]elease/
publish/
